
@{
    Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
}
<link href="~/assets/css/entypo/css/entypo.css" rel="stylesheet" />

<link href="~/assets/css/cavalo.css" rel="stylesheet" />

<link href="~/Content/style.css" rel="stylesheet" />

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-2">
                    <div class="card-header">
                        <h5 class="card-title">images</h5>
                    </div>
                    <div class="card-body">
                        <div class="media-body">
                            <div id="carrousel">
                                <div class="container">
                                    <div class="title col-md-12 text-center"> Application Images</div>
                                    <div class="col-md-12">
                                        <div class="owl-carousel owl-theme">
                                            @foreach (var img in ViewBag.Img)
                                            {
                                                <img src="@img.Url" alt="@App.Name">
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-header">
                        <h5 class="card-title">Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="media-body">
                            <p><strong>@ViewBag.App.Name</strong></p>
                            <p><strong>Description</strong></p>
                            <p class="text-muted mb-0">@ViewBag.App.Desc</p>
                            <p class="text-muted mb-0 mt-2">
                                <ul class="social-links list-inline mb-0 mt-2">
                                    <li class="list"><strong>Version: </strong> @ViewBag.App.Version</li>
                                    <li class="list"><strong>Publisher Name: </strong> @ViewBag.App.PublisherName</li>
                                    <li class="list"><strong>Price: </strong> US$@ViewBag.App.Price</li>
                                    @foreach (var t in ViewBag.Types)
                                    {
                                        if (ViewBag.App.TypeAppId == t.Id)
                                        {
                                            <li class="list"><strong>Type: </strong> @t.Name</li>
                                        }
                                    }
                                    @foreach (var p in ViewBag.Pegis)
                                    {
                                        if (ViewBag.App.PegiId == p.Id)
                                        {
                                            <li class="list"><strong>Pegi: </strong> @p.Age - @p.Desc</li>
                                        }
                                    }


                                </ul>
                                <br />
                                <h4>Genres:</h4>
                                <div class="col-md-12">
                                    @foreach (var ag in ViewBag.AppGens)
                                    {
                                        foreach (var g in ViewBag.Genres)
                                        {
                                            if (ag.GenreId == g.Id)
                                            {
                                                <span class="list m-4"><strong>@g.Name</strong></span>
                                            }
                                        }
                                    }
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary text-right" href="@ViewBag.App.Archive" download target="_blank"><i class="entypo-download"></i>  Download File</a>
                        <a class="btn btn-primary text-right" href="~/Application/Approve/@ViewBag.App.Id"><i class="entypo-check"></i>  Approve</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript" src="~/assets/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Owl Carousel -->
<script type="text/javascript" src="~/assets/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

<script src="~/assets/myndie/js/cavalo1.js"></script>

<script src="~/assets/myndie/js/cavalo2.js"></script>

<script src="~/assets/myndie/js/index.js"></script>