
@{
    Layout = "~/Views/Shared/_DeveloperLayout.cshtml";
}
<link href="~/assets/css/entypo/css/entypo.css" rel="stylesheet" />

<link href="~/assets/css/cavalo.css" rel="stylesheet" />

<link href="~/Content/style.css" rel="stylesheet" />

<div class="container-fluid">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../index.html">Home</a></li>
        <li class="breadcrumb-item">Approve            </li>
        <li class="breadcrumb-item active">App name            </li>
    </ul>
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                @foreach (var a in ViewBag.App)
                {
                    <div class="card mb-2">
                        <div class="card-header">
                            <h5 class="card-title">images</h5>
                        </div>
                        <div class="card-body">
                            <div class="media-body">
                                <div id="carrousel">
                                    <div class="container">
                                        <div class="title col-md-12 text-center"> Your last uploads</div>
                                        <div class="col-md-12">
                                            <div class="owl-carousel owl-theme">
                                                @foreach (var img in ViewBag.Img)
                                                {
                                                        <img src="@img.ImageUrl" alt="@App.Name">
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header">
                            <h5 class="card-title">Description</h5>
                        </div>
                        <div class="card-body">
                            <div class="media-body">
                                <p class="text-muted mb-0">@a.Desc</p>
                                <p class="text-muted mb-0 mt-2">
                                    <ul class="social-links list-inline mb-0 mt-2">
                                        <li class="list"><strong>Version: </strong> @a.Version</li>
                                        <li class="list"><strong>Publisher Name: </strong> @a.PublisherName</li>
                                        <li class="list"><strong>Price: </strong> @a.Price</li>
                                        <li class="list"><strong>Type: </strong> @a.TypeId</li>
                                        <li class="list"><strong>Genre: </strong> @a.GenreId</li>
                                        <li class="list"><strong>Pegi: </strong> @a.PegiId</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary text-right"><i class="entypo-download"></i>  Download File</button>
                            <button class="btn btn-primary text-left"><i class="entypo-download"></i>  Approve</button>
                        </div>
                    </div>
                }
                
            </div>
        </div>
    </div>
</section>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript" src="~/assets/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Owl Carousel -->
<script type="text/javascript" src="~/assets/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

<script src="~/assets/myndie/js/cavalo1.js"></script>

<script src="~/assets/myndie/js/cavalo2.js"></script>

<script src="~/assets/myndie/js/index.js"></script>