
@{
    Layout = "~/Views/Shared/_DeveloperLayout.cshtml";
}
<link href="~/assets/css/normalize.css" rel="stylesheet" />
<link href="~/assets/css/demo.css" rel="stylesheet" />
<link href="~/assets/css/component.css" rel="stylesheet" />

<div id="DivContent">
    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="block">
                        <div class="title"><strong>Add Application</strong></div>
                        <div class="block-body">
                            <form id="RegisterApp" class="needs-validation" method="post" enctype="multipart/form-data" onsubmit="return AjaxPostRegisterApp(this)">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="mb-1 mt-2">Name:</p>
                                        <div class="myndie-input">
                                            <input type="text" class="form-control" id="Name" value="@ViewBag.App.Name" placeholder="Name" required name="app.Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mb-1 mt-2">Description:</p>
                                        <div class="myndie-input">
                                            <input type="text" class="form-control" id="Desc" value="@ViewBag.App.Desc" placeholder="Description" required name="app.Desc" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="mb-1 mt-2">Price:</p>
                                        <div class="myndie-input">
                                            <input type="number" class="form-control" id="Price" value="@ViewBag.App.Price" placeholder="Price" required name="app.Price" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mb-1 mt-2">Version:</p>
                                        <div class="myndie-input">
                                            <input type="text" class="form-control" id="Version" value="@ViewBag.App.Version" placeholder="Version" required name="app.Version" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="mb-1 mt-2">Publisher Name:</p>
                                        <div class="myndie-input">
                                            <input type="text" class="form-control" id="PublisherName" value="@ViewBag.App.PublisherName" placeholder="Publisher Name" required name="app.PublisherName" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="mb-1 mt-2">Pegi:</p>
                                        <select class="custom-select" required id="app.PegiId" name="app.PegiId">
                                            @foreach (var p in ViewBag.Pegi)
                                            {
                                                <option value="@p.Id" selected="@p.Id.Equals(ViewBag.App.PegiId)"> @p.Desc</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="mb-1 mt-2">Release Date:</p>
                                        <div class="myndie-input">
                                            <input type="date" class="form-control" id="DateofBirth" value="@ViewBag.App.ReleaseDate" placeholder="" required name="app.ReleaseDate" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <p class="mb-1 mt-2">Type:</p>                                        
                                        <select class="custom-select" required id="app.TypeAppId" name="app.TypeAppId">
                                            @foreach (var t in ViewBag.Type)
                                            {
                                                <option value="@t.Id" selected="@t.Id.Equals(ViewBag.App.TypeAppId)"> @t.Name</option>
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="mb-1 mt-2">File:</p>
                                        @*<div class="myndie-input">
                                            <input type="file" class="" id="File" value="@ViewBag.App.Archive" placeholder="Files" required name="File" />
                                        </div>*@
                                        <input type="file" name="file" id="file-02" class="inputfile inputfile-02 hide" required/>
                                        <label for="file-02"><svg xmlns="http://www.w3.org/2000/svg" width="20px" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" /></svg> <span>Choose a file&hellip;</span></label>

                                    </div>
                                    <div class="col-md-6">
                                        <p class="mb-1 mt-2">Images:</p>
                                        @*<div class="myndie-input">
                                            <input type="file"
                                                   class="my-pond"
                                                   name="images"
                                                   multiple
                                                   id="my-pond"
                                                   data-max-file-size="3MB"
                                                   data-max-files="3"
                                                   accept="image/*">
                                        </div>*@
                                        <input type="file" name="images" id="file-3" class="inputfile inputfile-3 hide" data-multiple-caption="{count} files selected" multiple accept="image/*"/>
					<label for="file-3"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span></label>

                                    </div>
                                </div>
                                <br /><br />
                                <hr />
                                <h4>Genres</h4>
                                <div class="col-md-12">

                                @for(int i = 0; i < ViewBag.Genres.Count; i++)
                                {
                                    <label class="checkbox-inline col-md-2">
                                        <input class="m-2" type="checkbox" name="genres[@i].IsChecked" value="true"/><span class="h4">@ViewBag.Genres[i].Name</span>
                                        <input type="hidden" name="genres[@i].Id" value="@ViewBag.Genres[i].Id" />
                                        <input type="hidden" name="genres[@i].Name" value="@ViewBag.Genres[i].Name" />
                                    </label>
                                }
                                </div>

                                <br /><br />


                                <br /><br />
                                <input type="submit" value="Add" class="btn btn-primary">
                            </form>
                            <br />
                            <div class="@ViewBag.Class" style="width:80%;" role="alert">
                                @Html.ValidationMessage("Application.Name")<br />
                                @Html.ValidationMessage("Application.Desc")<br />
                                @Html.ValidationMessage("Application.Version")<br />
                                @Html.ValidationMessage("Application.Price")<br />
                                @Html.ValidationMessage("Application.PublisherName")<br />
                                @Html.ValidationMessage("Application.ReleaseDate")<br />
                                @Html.ValidationMessage("Application.Archive")<br />
                            </div>
                        </div>
                        <script>
                            function AjaxPostRegisterApp(formData) {
                                alert("Wait... Uploading...")
                                var ajaxConfig = {
                                    type: "post",
                                    url: "/Application/Validate",
                                    data: new FormData(formData),
                                    success: function (result) {
                                        alert(result);
                                        if (result == "Successfully Registered") {
                                            window.location.href = "/Developer/ProfileView";
                                        }
                                        else if (result == "Error on Uploading Images, try later" || result == "Error on Uploading Files, try later") {
                                            window.location.href = "/Developer/ProfileView";
                                        }
                                    }
                                }
                                if ($(formData).attr('enctype') == "multipart/form-data") {
                                    ajaxConfig["contentType"] = false;
                                    ajaxConfig["processData"] = false;
                                }
                                $.ajax(ajaxConfig);
                                return false;
                            };
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/assets/myndie/js/custom-file-input.js"></script>
<script src="~/assets/myndie/js/jquery-v1.min.js"></script>
<script src="~/assets/myndie/js/jquery.custom-file-input.js"></script>