
@{
    Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
}

<div id="DivContent">
    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="icon-user-1"></i></div><strong>New Users</strong>
                            </div>
                            <div class="number dashtext-1">@ViewBag.NewUser</div>
                        </div>
                        <div class="progress progress-template">
                            <div role="progressbar" style="width: @ViewBag.NewUser%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="icon-paper-and-pencil"></i></div><strong>New Games</strong>
                            </div>
                            <div class="number dashtext-3">@ViewBag.NewGame</div>
                        </div>
                        <div class="progress progress-template">
                            <div role="progressbar" style="width: @ViewBag.NewGame%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="icon-writing-whiteboard"></i></div><strong>New Softwares</strong>
                            </div>
                            <div class="number dashtext-4">@ViewBag.NewSoft</div>
                        </div>
                        <div class="progress progress-template">
                            <div role="progressbar" style="width: @ViewBag.NewSoft%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="statistic-block block">
                        <div class="progress-details d-flex align-items-end justify-content-between">
                            <div class="title">
                                <div class="icon"><i class="icon-contract"></i></div><strong>New Mobile</strong>
                            </div>
                            <div class="number dashtext-4">@ViewBag.NewMob</div>
                        </div>
                        <div class="progress progress-template">
                            <div role="progressbar" style="width: @ViewBag.NewMob%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="line-cahrt block">
                        <canvas id="lineCahrt"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>