
@{
    Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
}

<div id="DivContent">
    <section class="no-padding-top">
        <div class="container-fluid">
            <div class="block">
                <div class="title"><strong>Users</strong></div>
                <div class="block-body">

                </div>
                <div class="table-responsive">
                    <table id="datatable1" style="width: 100%;" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th># Moderator</th>
                                <th>Promote</th>
                                <th>Demote</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var u in ViewBag.Users)
                            {
                                <tr>
                                    <td>@u.Id</td>
                                    <td>@u.Name</td>
                                    <td>@u.Username</td>
                                    <td>@u.Email</td>
                                    <td>@u.ModeratorId</td>
                                    <td>@Html.ActionLink(" Promote ", "Promote", new { id = u.Id })</td>
                                    <td>@Html.ActionLink(" Demote ", "Demote", new { id = u.Id })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>