<!DOCTYPE html>

<html>



<head>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Myndie</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Icon -->
    <link rel="icon" type="image/png" href="~/assets/images/icon.png">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    @*<link rel="stylesheet" href="~/assets/css/font-icons/entypo/css/entypo.css">*@

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" />

    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css" href="~/assets/bower_components/font-awesome/css/font-awesome.min.css" />

    <!-- Owl Carousel -->
    <link rel="stylesheet" type="text/css" href="~/assets/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />

    <!-- myndie -->
    <link rel="stylesheet" type="text/css" href="~/assets/myndie/css/myndie.min.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" type="text/css" href="~/assets/bower_components/magnific-popup/dist/magnific-popup.css" />

    <!-- entypo font -->
    <link rel="stylesheet" href="~/assets/css/entypo/css/entypo.css">

    <!-- Custom Styles -->
    <!-- link rel="stylesheet" type="text/css" href="~/assets/css/custom.css" /> -->

    <!-- Social Likes -->
    <link rel="stylesheet" type="text/css" href="~/assets/bower_components/social-likes/dist/social-likes_flat.css" />

    <!-- Chat Font -->
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">



    <!-- RTL (uncomment this to enable RTL support) -->
    <!-- <link rel="stylesheet" type="text/css" href="~/assets/myndie/css/myndie-rtl.css" /> -->

</head>


<body>

    <!-- Preloader -->
    <div class="page-preloader preloader-wrapp">
        <img src="~/assets/images/logo.png" alt="">
        <div class="preloader"></div>
    </div>
    <!-- /Preloader -->
    <!-- Navbar -->
    <nav class="navbar-myndie navbar navbar-default navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="off-canvas" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/">
                    <img src="~/assets/images/logo.png" alt="">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-hover ">
                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Store <span class="caret"></span> <span class="label">See What's new</span>
                        </a>
                        <div class="dropdown-menu">
                            <ul role="menu">
                                <li>
                                    <a href="@Url.Action("Explore", "Application", new { type= "Featured"})">Featured</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Explore", "Application", new { type= "Explore"})">Explore</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Explore", "Application", new { type = "Free"})">Free</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown dropdown-hover ">
                        <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            Categories <span class="caret"></span> <span class="label">Select a category</span>
                        </a>
                        <div class="dropdown-menu">
                            @Html.Action("TypesAppBar", "TypeApp", new { id = 1 })
                        </div>
                    </li>
                    <!--<li class="dropdown dropdown-hover ">
                      <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Community <span class="caret"></span> <span class="label">Develop With Anyone</span>
                      </a>
                      <div class="dropdown-menu">
                        <ul role="menu">
                          <li><a href="forums.html">Discussions</a>
                          </li>
                          <li><a href="forums.html">Your Posts</a>
                          </li>
                        </ul>
                      </div>
                    </li>-->
                </ul>
                <ul class="nav navbar-nav navbar-center"></ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <br />
                        @Html.Action("_SearchAuto", "Application")
                    </li>
                    <li>
                        <a onClick="document.getElementById('FormSearch').submit()">
                            <i class="entypo-search"></i>
                        </a>
                    </li>
                    @if (Session["Id"] != null)
                    {
                        @*<li class="dropdown dropdown-hover dropdown-cart">
                            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="entypo-mail"></i><span class="badge pull-right bg-primary">2</span>
                            </a>
                            <div class="dropdown-menu" style="width: 400px;">
                                <div class="row myndie-side-news">
                                    <div class="col-xs-3 col-md-4">
                                        <a href="#" class="angled-img">
                                            <div class="img">

                                                <img src="~/assets/images/game-bloodborne-500x375.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xs-9 col-md-8">
                                        <a href="#" style="text-decoration: none;" class="pull-right mr-10"><i class="entypo-times"></i></a>

                                        <h4 class="ellipsis"><a href="#">Asuma send you a friend request</a></h4><br>
                                        <div class="btn-group pull-right">
                                            <a href="#" class="btn btn-default btn-sm">Accept</a>
                                            <a href="#" class="btn btn-default btn-sm">Reject</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <div class="row myndie-side-news">
                                    <div class="col-xs-3 col-md-4">
                                        <a href="#" class="angled-img">
                                            <div class="img">

                                                <img src="~/assets/images/game-bloodborne-500x375.jpg" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-xs-9 col-md-8">
                                        <div class="btn-group pull-right">
                                            <a href=""><i class="entypo-cancel"></i></a>
                                        </div>
                                        <a href="#" style="text-decoration: none;" class="pull-right mr-10"><i class="entypo-times"></i></a>

                                        <h4 class="ellipsis"><a href="#">Asuma send you a Message</a></h4><br>
                                        <div class="btn-group pull-right">
                                            <a href="#" class="btn btn-default btn-sm">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>*@

                        <li class="dropdown dropdown-hover dropdown-cart">
                            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <i class="entypo-basket"></i><span class="badge pull-right bg-primary"></span>
                            </a>
                            <div class="dropdown-menu" style="width: 300px;">
                                @try
                                {
                                    foreach (var a in ViewBag.Cart)
                                    {
                                        <div class="row myndie-side-news">
                                            <div class="col-xs-3 col-md-4">
                                                <a href="#" class="angled-img">
                                                    <div class="img">
                                                        <img src="@Html.Action("GetAppImage", "Application", new { id = a.ApplicationId})" style="height: 45px" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-9 col-md-8">
                                                <a href="#" style="text-decoration: none;" class="pull-right mr-10"><i class="entypo-times"></i></a>

                                                <h4 class="ellipsis"><a href="~/Application/Product/@a.ApplicationId">@Html.Action("GetAppName", "Application", new { id = a.ApplicationId })</a></h4>
                                                <span class="amount">US$@a.Price</span>
                                            </div>
                                        </div>
                                    }
                                }
                                catch
                                {
                                }
                                <div class="ml-20 mr-20 pull-right">
                                    @try
                                    {
                                        <strong>Subtotal:</strong> <span class="amount">US$ @Html.Action("GetSubtotal", "Cart")</span>
                                    }
                                    catch
                                    {
                                        <strong>Subtotal:</strong> <span class="amount">US$ 0.00</span>
                                    }
                                </div>

                                <div class="btn-group pull-right m-15">
                                    <a href="@Url.Action("Cart", "Cart")" class="btn btn-default btn-sm">View Cart</a>
                                    <a href="@Url.Action("Checkout", "Sell")" class="btn btn-default btn-sm">Checkout</a>
                                </div>
                            </div>
                        </li>
                    }


                    @if (Session["Id"] != null)
                    {
                        <li class="dropdown dropdown-hover">
                            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                @Session["Username"].ToString() <span class="badge bg-default">@*2*@</span> <span class="caret"></span> <span class="label">it's you</span>
                            </a>
                            <div class="dropdown-menu">
                                <ul role="menu">
                                    <li>
                                        <a href="~/User/ProfileView">Profile</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Library", "User")">Library</a>
                                    </li>
                                    <li class="divider"></li>

                                    <li>
                                        <a href="@Url.Action("Wishlist", "User")">Wishlist <span class="badge pull-right bg-primary"></span></a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="/User/Logout">Log Out</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a role="button" data-toggle="modal" data-target="#myModal">
                                <i class="entypo-user"></i>
                            </a>
                        </li>

                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- /Navbar -->
    <!-- Main Content -->
    <section class="content-wrap">
        @RenderBody()     
        <!-- Footer -->
        <footer class="myndie-footer-parallax">
            <div class="wrapper" style="background-image: url('../../../assets/images/footer-bg.jpg')">

                <!-- Social Buttons -->
                <div class="social">
                    <div class="container">
                        <h3>Connect socially with <strong>Myndie</strong></h3>

                        <div class="social-icons">
                            <div class="social-icon">
                                <a href="https://www.facebook.com/VortexCronos">
                                    <i class="entypo-facebook"></i>
                                    <span>Like on Facebook</span>
                                </a>
                            </div>
                            <div class="social-icon">
                                <a href="https://twitter.com/CronosVortex">
                                    <i class="entypo-twitter"></i>
                                    <span>Follow on Twitter</span>
                                </a>
                            </div>
                            @*<div class="social-icon">
                                <a href="#!">
                                    <i class="entypo-paypal"></i>
                                    <span>Support us</span>
                                </a>
                            </div>*@
                            <!--<div class="social-icon">
                              <a href="#!">
                                <i class="entypo-github"></i>
                                <span>Contribute</span>
                              </a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <!-- /Social Buttons -->
                <!-- Copyright -->
                <div class="copyright">
                    <div class="container">
                        <strong>Vortex Cronos</strong> &copy; 2018. All rights reserved
                    </div>
                </div>
                <!-- /Copyright -->

            </div>
        </footer>
        <!-- /Footer -->
        @if(Session["Id"] != null)
        {
            @Html.Action("_UserChat", "User");
        }   

    </section>
    <!-- /Main Content -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Login</h4>
                </div>
                <form id="Login" method="post" enctype="multipart/form-data" onsubmit="return AjaxPost(this)">
                    <div class="modal-body">
                        <div class="myndie-input">
                            <input type="text" class="form-control" id="UsernameLogin" placeholder="Username" required name="user.Username" />
                        </div>
                        <div class="myndie-input">
                            <input type="password" class="form-control" id="PasswordLogin" placeholder="Password" required name="user.Password" />
                        </div>
                        <a href="~/User/ForgotYourPassword" class="small m-0">Forgot your password?</a>
                    </div>
                    <div class="modal-footer">
                        <div class="col-xs-1">
                            <a href="~/User/Register" class="btn btn-danger">Sign Up</a>
                        </div>
                        <button type="submit" class="btn btn-danger">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Modals -->
    <!-- Search Block -->
    <div class="search-block">
        <a href="#!" class="search-toggle entypo-cancel"></a>
        <form action="search.html">
            <div class="myndie-input">
                <input type="text" name="search" placeholder="Search...">
            </div>
        </form>
    </div>
    <!-- /Search Block -->
    <!-- jQuery -->
    <script type="text/javascript" src="~/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.filedrop.js"></script>

    <!-- Hexagon Progress -->
    <script type="text/javascript" src="~/assets/bower_components/HexagonProgress/jquery.hexagonprogress.min.js"></script>


    <!-- Bootstrap -->
    <script type="text/javascript" src="~/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Jarallax -->
    <script type="text/javascript" src="~/assets/bower_components/jarallax/dist/jarallax.min.js"></script>

    <!-- Smooth Scroll -->
    <script type="text/javascript" src="~/assets/bower_components/smoothscroll-for-websites/SmoothScroll.js"></script>

    <!-- Owl Carousel -->
    <script type="text/javascript" src="~/assets/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

    <!-- Countdown -->
    <script type="text/javascript" src="~/assets/bower_components/jquery.countdown/dist/jquery.countdown.min.js"></script>
    <!-- myndie -->
    <script type="text/javascript" src="~/assets/myndie/js/myndie.min.js"></script>

    <!-- Jarallax -->
    <script type="text/javascript" src="~/assets/bower_components/jarallax/dist/jarallax.min.js"></script>

    <!-- Magnific Popup -->
    <script type="text/javascript" src="~/assets/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

    <!-- Social Likes -->
    <script type="text/javascript" src="~/assets/bower_components/social-likes/dist/social-likes.min.js"></script>

    <!-- Init SignalR -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.4.0.js"></script>
    <script src="~/Scripts/JavaScript.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>


    <!-- init myndie -->
    <script>
        if (typeof myndie !== 'undefined') {
            myndie.init({
                // enable parallax
                parallax: true,

                // set small navbar on load
                navbarSmall: false,

                // enable fade effect between pages
                fadeBetweenPages: true,

                // twitter and instagram php paths
                php: {
                    twitter: './php/twitter/tweet.php',
                    instagram: './php/instagram/instagram.php'
                }
            });
        }
    </script>


    <script type="text/javascript">
        $(".countdown").each(function () {
            $(this).countdown($(this).attr('data-end'), function (event) {
                $(this).text(
                    event.strftime('%D days %H:%M:%S')
                );
            });
        });

        $("body").change(function () {
            $(this).css("padding-right: 0")
        });
    </script>
    <script>



    </script>

    <script>
        

        function AjaxPost(formData) {
            var ajaxConfig = {
                type: "post",
                url: "../../../User/Login",
                data: new FormData(formData),
                success: function (result) {
                    if (result != 'Logged In') {
                        alert(result);
                    }
                    location.reload(); 
                }
            }
            if ($(formData).attr('enctype') == "multipart/form-data") {
                ajaxConfig["contentType"] = false;
                ajaxConfig["processData"] = false;
            }

            $.ajax(ajaxConfig);
            return false;
        }
    </script>
</body>

</html>