<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Myndie - Moderator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/www_subdomain/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/assets/vendor/font-awesome/css/www_subdomain/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="~/assets/css/www_subdomain/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/assets/css/www_subdomain/style.default.premium.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/assets/css/www_subdomain/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/assets/img/www_subdomain/favicon.ico">
    <!-- DataTables CSS-->
    <link rel="stylesheet" href="~/assets/vendor/datatables.net-bs4/css/www_subdomain/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/assets/vendor/datatables.net-responsive-bs4/css/www_subdomain/responsive.bootstrap4.min.css">
    <!-- Summernote CSS -->
    <link rel="stylesheet" href="~/assets/vendor/summernote/www_subdomain/summernote-bs4.css">
    <!-- Bootstrap Select CSS-->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-select/css/www_subdomain/bootstrap-select.min.css">
    <!-- Bootstrap Touchspin CSS-->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-touchspin/www_subdomain/jquery.bootstrap-touchspin.min.css">
    <!-- Bootstrap Datepicker CSS-->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-datepicker/css/www_subdomain/bootstrap-datepicker3.css">
    <!-- Bootstrap Tags input CSS-->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-tagsinput/www_subdomain/bootstrap-tagsinput.css">
    <!-- No UI Slider-->
    <link rel="stylesheet" href="~/assets/vendor/nouislider/www_subdomain/nouislider.css"><!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body class="text-white">
    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <!-- Navbar Header--><a href="~/Home/Index" class="navbar-brand">
                        <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Myndie</strong><strong>Dashboard</strong></div>
                        <div class="brand-text brand-sm"><strong class="text-primary">M</strong><strong>D</strong></div>
                    </a>
                    <!-- Sidebar Toggle Btn-->
                    <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
                </div>
                <div class="right-menu list-inline no-margin-bottom">
                    <div class="list-inline-item dropdown">
                        @*<a id="navbarDropdownMenuLink1" href="http://example.com"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link messages-toggle">
                            <i class="icon-email"></i><span class="badge dashbg-1">5</span>
                        </a>*@
                        @*<div aria-labelledby="navbarDropdownMenuLink1" class="dropdown-menu messages">
                            <a href="#" class="dropdown-item message d-flex align-items-center">
                                <div class="profile">
                                    <img src="~/assets/img/www_subdomain/avatar-3.jpg"
                                         alt="..." class="img-fluid">
                                    <div class="status online"></div>
                                </div>
                                <div class="content">
                                    <strong class="d-block">Nadia Halsey</strong><span class="d-block">
                                        lorem
                                        ipsum dolor sit amit
                                    </span><small class="date d-block">9:30am</small>
                                </div>
                            </a><a href="#" class="dropdown-item message d-flex align-items-center">
                                <div class="profile">
                                    <img src="~/assets/img/www_subdomain/avatar-2.jpg"
                                         alt="..." class="img-fluid">
                                    <div class="status away"></div>
                                </div>
                                <div class="content">
                                    <strong class="d-block">Peter Ramsy</strong><span class="d-block">
                                        lorem
                                        ipsum dolor sit amit
                                    </span><small class="date d-block">7:40am</small>
                                </div>
                            </a><a href="#" class="dropdown-item message d-flex align-items-center">
                                <div class="profile">
                                    <img src="~/assets/img/www_subdomain/avatar-1.jpg"
                                         alt="..." class="img-fluid">
                                    <div class="status busy"></div>
                                </div>
                                <div class="content">
                                    <strong class="d-block">Sam Kaheil</strong><span class="d-block">
                                        lorem
                                        ipsum dolor sit amit
                                    </span><small class="date d-block">6:55am</small>
                                </div>
                            </a><a href="#" class="dropdown-item message d-flex align-items-center">
                                <div class="profile">
                                    <img src="~/assets/img/www_subdomain/avatar-5.jpg"
                                         alt="..." class="img-fluid">
                                    <div class="status offline"></div>
                                </div>
                                <div class="content">
                                    <strong class="d-block">Sara Wood</strong><span class="d-block">
                                        lorem
                                        ipsum dolor sit amit
                                    </span><small class="date d-block">10:30pm</small>
                                </div>
                            </a><a href="#" class="dropdown-item text-center message">
                                <strong>
                                    See All Messages <i class="fa fa-angle-right"></i>
                                </strong>
                            </a>
                        </div>
                    </div>*@
                    <!-- Log out               -->
                    <div class="list-inline-item logout">
                        <a id="logout" href="~/User/Logout"
                           class="nav-link">Logout<i class="icon-logout"></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        <nav id="sidebar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <a href="~/User/ProfileView">
                    <div class="avatar">
                        @if(ViewBag.User.Picture != null && ViewBag.User.Picture != "")
                        {
                            <img src="@ViewBag.User.Picture" style="height: 50px; width: 50px"
                             alt="..." class="img-fluid rounded-circle">
                        }
                        else
                        {
                            <img src="~/assets/img/www_subdomain/avatar-6.jpg"
                             alt="..." class="img-fluid rounded-circle">
                        }

                    </div>
                </a>
                <div class="title">
                    <h1 class="h5">@ViewBag.User.Name</h1>
                    <p>Moderator</p>
                </div>
            </div>
            <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
            <ul class="list-unstyled">
                <li class="active"><a href="~/Moderator/ProfileView"> <i class="icon-home"></i>Home </a></li>
                <li>
                    <a href="#CRUDDropdown" aria-expanded="false" data-toggle="collapse">
                        <i class="icon-grid"></i>Tables
                    </a>
                    <ul id="CRUDDropdown" class="collapse list-unstyled ">
                        <li><a href="~/TypeApp/Index">App's Type</a></li>
                        <li><a href="/Genre/Index">Categories</a></li>
                        <li><a href="~/Country/Index">Country</a></li>
                        <li><a href="~/Language/Index">Language</a></li>
                        <li><a href="~/Pegi/Index">Pegi</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#UsersDropdown" aria-expanded="false" data-toggle="collapse">
                        <i class="fa fa-user"></i>Users
                    </a>
                    <ul id="UsersDropdown" class="collapse list-unstyled ">
                        <li><a href="~/Developer/Moderator">Devs</a></li>
                        <li><a href="~/User/Moderator">Users</a></li>
                        <li><a href="~/Moderator/Register">Upgrade to Moderator</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#AppsDropdown" aria-expanded="false" data-toggle="collapse">
                        <i class="icon-website"></i>Apps
                    </a>
                    @Html.Action("TypesAppBar", "TypeApp", new { id = 2 })
                </li>
                <li><a href="~/Sell/Sales"> <i class="icon-chart"></i>Sales </a></li>
            </ul>
        </nav>
        <!-- Sidebar Navigation end-->
        <div class="page-content">
            <div class="page-header">
                <div class="container-fluid">
                    <h2 class="h5 no-margin-bottom">Dashboard</h2>
                </div>
            </div>
            @RenderBody()
            <footer class="footer">
                <div class="footer__block block no-margin-bottom">
                    <div class="container-fluid text-center">
                        <p class="no-margin-bottom">2018 &copy; Vortex Cronos. </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
        }

    <!-- JavaScript files-->
    <script src="~/assets/vendor/jquery/www_subdomain/jquery.min.js"></script>
    <script src="~/assets/vendor/popper.js/umd/www_subdomain/popper.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/www_subdomain/bootstrap.min.js"></script>
    <script src="~/assets/vendor/jquery.cookie/www_subdomain/jquery.cookie.js"></script>
    <script src="~/assets/vendor/chart.js/www_subdomain/Chart.min.js"></script>
    <script src="~/assets/vendor/jquery-validation/www_subdomain/jquery.validate.min.js"></script>
    <script src="~/assets/js/www_subdomain/charts-home.js"></script>
    <!-- Notifications-->
    @*<script src="~/assets/vendor/messenger-hubspot/build/js/www_subdomain/messenger.min.js"></script>
    <script src="~/assets/vendor/messenger-hubspot/build/js/www_subdomain/messenger-theme-flat.js"></script>
    <script src="~/assets/js/www_subdomain/home-premium.js"></script>
    <script src="~/assets/js/www_subdomain/front.js"></script>*@
    <!-- Data Tables-->
    <script src="~/assets/vendor/datatables.net/js/www_subdomain/jquery.dataTables.js"></script>
    <script src="~/assets/vendor/datatables.net-bs4/js/www_subdomain/dataTables.bootstrap4.js"></script>
    <script src="~/assets/vendor/datatables.net-responsive/js/www_subdomain/dataTables.responsive.min.js"></script>
    <script src="~/assets/vendor/datatables.net-responsive-bs4/js/www_subdomain/responsive.bootstrap4.min.js"></script>
    <script src="~/assets/js/www_subdomain/tables-datatable.js"></script>
    <script src="~/assets/js/www_subdomain/front.js"></script>
    <!-- Bootstrap TypeAhead-->
    <script src="~/assets/vendor/bootstrap-3-typeahead/www_subdomain/bootstrap3-typeahead.min.js"></script>
    <!-- TypeAhead init-->
    <script src="~/assets/js/www_subdomain/forms-autocomplete.js"></script>
    <script src="~/assets/js/www_subdomain/front.js"></script>
    <!-- Summernote -->
    <script src="~/assets/vendor/summernote/www_subdomain/summernote-bs4.min.js"></script>
    <!-- Summernote init + its validation-->
    <script src="~/assets/js/www_subdomain/forms-validation.js"></script>
    <script src="~/assets/js/www_subdomain/front.js"></script>
    <!-- Bootstrap Select-->
    <script src="~/assets/vendor/bootstrap-select/js/www_subdomain/bootstrap-select.min.js"></script>
    <!-- Bootstrap Touchspin-->
    <script src="~/assets/vendor/bootstrap-touchspin/www_subdomain/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Bootstrap No UI Slider-->
    <script src="~/assets/vendor/nouislider/www_subdomain/nouislider.min.js"></script>
    <!-- Bootstrap DatePicker-->
    <script src="~/assets/vendor/bootstrap-datepicker/js/www_subdomain/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap Tags Input-->
    <script src="~/assets/vendor/bootstrap-tagsinput/www_subdomain/bootstrap-tagsinput.min.js"></script>
    <!-- Jasny Bootstrap - Input Masks-->
    <script src="~/assets/vendor/jasny-bootstrap/js/www_subdomain/jasny-bootstrap.min.js"></script>
    <!-- MultiSelect-->
    <script src="~/assets/vendor/multiselect/js/www_subdomain/jquery.multi-select.js"></script>
    <!-- Forms init-->
    <script src="~/assets/js/www_subdomain/forms-advanced.js"></script>
    <script src="~/assets/js/www_subdomain/front.js"></script>
    <!-- Gauge.js-->
    <script src="~/assets/vendor/gaugeJS/www_subdomain/gauge.min.js"></script>
    <!-- jQuery Sparkline-->
    <script src="~/assets/vendor/jquery-sparkline/www_subdomain/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/www_subdomain/charts-gauge-sparkline.js"></script>
    <script src="~/assets/js/www_subdomain/front.js"></script>


    @*<script>
        $(function () { Messenger.options = { extraClasses: "messenger-fixed messenger-on-top  messenger-on-right", theme: "flat", messageDefaults: { showCloseButton: !0 } }, Messenger().post({ message: "Hey, how are you?<br>Welcome to the Dark Admin Premium template by Bootstrapious.", type: "success" }) });
    </script>*@
</body>

</html>