
@{
}

<section class="content-wrap">
    <!-- Banner -->
    <div class="myndie-banner banner-top myndie-banner-parallax xsmall">
        <div class="image" style="background-image: url('../../assets/images/banner-blog-bg.jpg')">
        </div>
        <div class="info">
            <div>
                <div class="container">
                    <h1>Checkout</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /Banner -->

    <div class="container myndie-content">
        <div class="col-md-9">
            <!-- Billing Information -->
            <h2 class="mt-0">Billing Details</h2>
            <div class="row">
                <div class="col-md-6">
                    <p>First Name:</p>
                    <p>@ViewBag.User.Name</p>
                </div>
                <div class="col-md-6">
                    <p>UserName:</p>
                    <p>@ViewBag.User.Username</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Email:</p>
                    <p>@ViewBag.User.Email</p>
                </div>
                <div class="col-md-4">
                    <p>Country:</p>
                    <p>@ViewBag.CountryUser.Name</p>
                </div>
            </div>
            <h3>
                <a href="@Url.Action("ProfileView", "User")">Change Information</a>
            </h3>

            <!-- /Billing Information -->
            <!-- Cart -->
            <h2>Your Games in Cart</h2>
            <!-- Single Product Block -->
            @foreach (var a in ViewBag.FullCart)
        {
            <div class="item angled-bg">
                <div class="row">
                    <div class="col-xs-6 col-md-9">
                        <h4 class="ml-20">@Html.Action("GetAppName", "Application", new { id = a.ApplicationId })</h4>
                    </div>
                    <div class="col-xs-6 col-md-3 align-right">
                        <div class="price">
                            US$ @a.Price
                        </div>
                    </div>
                </div>
            </div>
    }

            <!-- /Single Product Block -->
            <div class="align-right h3 mr-20 mb-20">
                Total: <strong>US$ @Html.Action("GetSubtotal", "Cart")</strong>
            </div>
            <!-- Cart -->
            <!-- Payment Type -->
            <h2>Payment Type</h2>
            <div class="myndie-radio">
                <input type="radio" name="payment_type" value="bank" id="radio1">
                <label for="radio1">Credit Card</label>
            </div>
            <div class="myndie-radio">
                <input type="radio" name="payment_type" value="cheque" id="radio2">
                <label for="radio2">MercadoPago</label>
            </div>
            <div class="myndie-radio">
                <input type="radio" name="payment_type" value="paypal" id="radio3" checked>
                <label for="radio3">PayPal</label>
            </div>
            <!-- /Payment Type -->
            <!-- Order Button -->
            <div class="align-right">
                <a href="@Url.Action("Sell", "Sell")" class="btn btn-lg">Place Order</a>
            </div>
            <!-- /Order Button -->
        </div>
        @Html.Action("_GenreGameRightSide", "Application")
    </div>
</section>
