
@{
    Layout = "~/Views/Shared/_ModeratorLayout.cshtml";
}

<section class="no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="bar-chart block no-margin-bottom">
                    <h3>Weekly Report</h3>
                    <canvas id="barChartSales1"></canvas>
                </div>
                <div class="bar-chart block">
                    <h3>Monthly Report</h3>
                    <canvas id="barChartExample2"></canvas>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="line-cahrt block">
                    <canvas id="lineCahrt"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="no-padding-top">
    <div class="container-fluid">
        <div class="block">
            <div class="title"><strong>Sales Summary</strong></div>
            <div class="block-body">
                <div class="table-responsive">
                    <table id="datatable1" style="width: 100%;" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Total Price</th>
                                <th>Date</th>
                                <th># User</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var s in ViewBag.Sells)
                            {
                            <tr>
                                <td><a href="javascript: return(void);" class="text-muted">@s.Id</a></td>
                                <td>@s.TotalPrice</td>
                                <td>@s.Date</td>
                                <td>@s.UserId</td>
                            </tr>
                            }                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="~/assets/vendor/jquery/www_subdomain/jquery.min.js"></script>
<script>
    $(document).ready(function () {
    "use strict";
    Chart.defaults.global.defaultFontColor = "#75787c";
        var Graph1 = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Graph1) as String);
        for (var i = 0; i <= 6; i++){
            if (Graph1[i] == null) {
                var obj = { Date: Graph1[0].Date - i, TotalPrice: 0, Count: 0};
                Graph1[i] = obj;
            }
        }
        var TotalPrice = [Graph1[6].TotalPrice, Graph1[5].TotalPrice, Graph1[4].TotalPrice, Graph1[3].TotalPrice, Graph1[2].TotalPrice, Graph1[1].TotalPrice, Graph1[0].TotalPrice];
    $(window).outerWidth() < 576 && (r = !1);        
    var a = $("#barChartSales1"), o = (new Chart(a, {
        type: "bar", options: {
            scales: {
                xAxes: [{
                    display: !1, gridLines: {
                        color: "#eee",
                        ticks: { beginAtZero: true },

                    }
                }
                ], yAxes: [{
                    display: !1, ticks: { beginAtZero: true}, gridLines: {
                        color: "#eee"
                    }
                }
                ]
            }
        }
        , data: {
            labels: [Graph1[6].Date, Graph1[5].Date, Graph1[4].Date, Graph1[3].Date, Graph1[2].Date, Graph1[1].Date, Graph1[0].Date], datasets: [{
                label: "Total Price", data: [Graph1[6].TotalPrice, Graph1[5].TotalPrice, Graph1[4].TotalPrice, Graph1[3].TotalPrice, Graph1[2].TotalPrice, Graph1[1].TotalPrice, Graph1[0].TotalPrice], backgroundColor: ["rgba(134, 77, 217, 0.57)", "rgba(134, 77, 217, 0.57)", "rgba(134, 77, 217, 0.57)", "rgba(134, 77, 217, 0.57)", "rgba(134, 77, 217, 0.57)", "rgba(134, 77, 217, 0.57)", "rgba(134, 77, 217, 0.57)"], hoverBackgroundColor: ["rgba(134, 77, 217, 0.57)", "rgba(134, 77, 217, 0.57)", "rgba(134, 77, 217, 0.57)", "rgba(134, 77, 217, 0.57)", "rgba(134, 77, 217, 0.57)", "rgba(134, 77, 217, 0.57)", "rgba(134, 77, 217, 0.57)"], borderColor: ["rgba(134, 77, 217, 1)", "rgba(134, 77, 217, 1)", "rgba(134, 77, 217, 1)", "rgba(134, 77, 217, 1)", "rgba(134, 77, 217, 1)", "rgba(134, 77, 217, 1)", "rgba(134, 77, 217, 1)"], borderWidth: 1
            }
            , {
                label: "Sale Count", data: [Graph1[6].Count, Graph1[5].Count, Graph1[4].Count, Graph1[3].Count, Graph1[2].Count, Graph1[1].Count, Graph1[0].Count],backgroundColor: ["rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)"], hoverBackgroundColor: ["rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)"], borderColor: ["rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)", "rgba(175, 175, 175, 0.7)"], borderWidth: 1
            }
            ]
        }
    }
    )
    )
})
</script>