@{

}
<!-- Main Content -->
<section class="content-wrap">

    <!-- Banner -->
    <div class="myndie-banner banner-top myndie-banner-parallax small">
        <div class="image" style="background-image: url('../assets/images/banner-blog-bg.jpg')">
        </div>

        <div class="info">
            <div>
                <div class="container align-center">
                    <h1>REGISTER</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- /Banner -->

    <form class="needs-validation" method="post" action="/User/Validate">
        <div class="container myndie-content">

            <div class="container myndie-content m-0">

                <div class="col-md-9">
                    <!-- register Information -->
                    <h2 class="mt-0">User Details</h2>

                    <div class="row">
                        <div class="col-md-6">
                            <p>Name:</p>
                            <div class="myndie-input">
                                <input type="text" class="form-control" id="Name" value="@ViewBag.User.Name" placeholder="Name" required name="user.Name" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>Username:</p>
                            <div class="myndie-input">
                                <input type="text" class="form-control" id="Username" value="@ViewBag.User.Username" placeholder="Username" required name="user.Username" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p>Password:</p>
                            <div class="myndie-input">
                                <input type="password" class="form-control" id="Password" placeholder="Password" required name="user.Password" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>Confirm Password:</p>
                            <div class="myndie-input">
                                <input type="password" id="ConfirmPassword" name="confpass" placeholder="Confirm Password">
                            </div>
                            <small class="mt-0"></small>
                        </div>
                    </div>

                    <!-- Country -->
                    <div class="row">
                        <div class="col-md-6">
                            <p>Country:</p>
                            <label class="myndie-select">
                                <select class="custom-select" required id="user.CountryId" name="user.CountryId">
                                    @foreach (var c in ViewBag.Country)
                        {
                            <option value="@c.Id" selected="@c.Id.Equals(ViewBag.User.CountryId)"> @c.Name</option>
            }
                                </select>
                            </label>
                        </div>


                        <div class="col-md-6">
                            <p>Language:</p>
                            <label class="myndie-select">
                                <select class="custom-select" required id="user.LanguageId" name="user.LanguageId">
                                    @foreach (var l in ViewBag.Lang)
                        {
                            <option value="@l.Id" selected="@l.Id.Equals(ViewBag.User.LanguageId)"> @l.Name</option>
            }
                                </select>
                            </label>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <p>Email:</p>
                            <div class="myndie-input">
                                <input type="email" class="form-control" id="Email" value="@ViewBag.User.Email" placeholder="Email" required name="user.Email" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>Date of birth:</p>
                            <div class="myndie-input">
                                <input type="date" class="form-control" id="DateofBirth" value="@ViewBag.User.BirthDate" placeholder="Date of Birth" required name="user.BirthDate" />
                            </div>
                        </div>
                    </div>

                    <!-- /register Information -->

                    <div class="@ViewBag.Class" style="width:80%;" role="alert">
                        @Html.ValidationMessage("User.Name")<br />
                        @Html.ValidationMessage("User.Email")<br />
                        @Html.ValidationMessage("User.Username")<br />
                        @Html.ValidationMessage("User.Password")<br />
                        @Html.ValidationMessage("User.Password4")<br />
                        @Html.ValidationMessage("User.BirthDate")<br />
                        @Html.ValidationMessage("User.BirthNA")<br />
                        @Html.ValidationMessage("User.CountryId")<br />
                        @Html.ValidationMessage("User.LanguageId")<br />
                        @Html.ValidationMessage("User.NotUniq")<br />
                    </div>

                    <!-- Order Button -->
                    <div class="align-right">
                        <button type="submit" class="btn btn-lg">Register</button>
                    </div>
                    <!-- /Order Button -->
                </div>
                @Html.Action("_GenreGameRightSide", "Application")
            </div>
        </div>
    </form>
</section>
<!-- /Main Content -->

<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<script>
    var password = document.getElementById("Password")
        , confirm_password = document.getElementById("ConfirmPassword");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Password does not match!!");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
